.hero-bg {
    background-image: url('../img/mainimg5.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  @media (max-width: 1024px) {
    .hero-bg {
      background-image: url('../img/mainimg6.png');
    }
  }
  
  @media (max-width: 768px) {
    .hero-bg {
      background-image: url('../img/mainimg7.png');
    }
  }
  